<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.AddressMapper">
	
	<select id="selectAddressList" parameterType="com.example.mall.vo.Address" resultType="com.example.mall.vo.Address">
		SELECT 
			address_no addressNo
			, customer_email customerEmail
			, address_detail addressDetail
			, update_date updateDate
			, create_date createDate
		FROM address WHERE customer_email = #{customerEmail}
	</select>
	
	<!-- /customer/addAddress : 배송지 등록 전 현재 등록된 배송지의 수 확인 -->
	<select id="selectAddressCount" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM address
		WHERE customer_email = #{customerEmail}
	</select>
	
	<!-- /customer/addAddress : 배송지 등록 -->
	<select id="insertAddress" parameterType="com.example.mall.vo.Address">
		INSERT INTO address(customer_email, address_detail)
		VALUES(#{customerEmail}, #{addressDetail})
	</select>
	
	<!-- /customer/addAddress : 배송지 삭제( customerEmail : null로 수정) -->
	<update id="deleteAddress" parameterType="com.example.mall.vo.Address">
		UPDATE address 
		SET customer_email = null
		<where>
			<if test= "addressNo != null">
				address_no = #{addressNo}
			</if>
			<if test= "customerEmail != null">
				customer_email = #{customerEmail}
			</if>
		</where>
	</update>
	

</mapper>