<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.CartMapper">
	<select id="selectCartList" parameterType="com.example.mall.vo.Cart" resultType="map">
		SELECT 
			 c.cart_no AS cartNo
			 , c.create_date AS createDate
			 , go.goods_No AS goodsNo
			 , gf.goods_file_name AS goodsFileName
 			 , gf.goods_file_ext AS goodsFileExt
			 , go.goods_Title AS goodTitle
			 , go.goods_Price AS goodsPrice
			 , ca.category_title AS categoryTitle
			 , c.cart_amount AS cartAmount
			 , (c.cart_amount * go.goods_Price) AS totalPrice
		FROM cart c
		INNER JOIN goods go
		ON go.goods_no = c.goods_no
		INNER JOIN goods_category gc
		ON go.goods_no = gc.goods_no
		INNER JOIN category ca
		ON ca.category_no = gc.category_no
		LEFT OUTER JOIN goods_file gf
		ON go.goods_no = gf.goods_no
		WHERE c.customer_email = #{customerEmail}
	</select>
	
	<select id="selectCartListByChecked" parameterType="com.example.mall.vo.Cart" resultType="map">
		SELECT 
			 c.cart_no AS cartNo
			 , go.goods_No AS goodsNo
			 , gf.goods_file_name AS fileName
			 , go.goods_Title AS goodTitle
			 , go.goods_Price AS goodsPrice
			 , c.cart_amount AS cartAmount
			 , (c.cart_amount * go.goods_Price) AS totalPrice
		FROM cart c
		INNER JOIN goods go
		ON go.goods_no = c.goods_no
		LEFT OUTER JOIN goods_file gf
		ON go.goods_no = gf.goods_no
		WHERE c.cart_no = #{cartNo}
	</select>
	
	<insert id="insertCart" parameterType="com.example.mall.vo.Cart">
		INSERT INTO cart(
			customer_email, goods_no, cart_amount
		) VALUES(
			#{customerEmail}, #{goodsNo}, #{cartAmount}
		);
	</insert>
	 
	<delete id="deleteCart" parameterType="com.example.mall.vo.Cart">
		DELETE FROM cart 
		<where>
			<if test="cartNo != null">
				cart_no = #{cartNo}	
			</if>
			<if test="customerEmail != null">
				customer_email = #{customerEmail}
			</if>
		</where>
		
	</delete>
</mapper>

