<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.CategoryMapper">

	<!-- selectCategoryList Query : 카테고리 리스트 -->
	<select id="selectCategoryList" resultType="com.example.mall.vo.Category">
		SELECT category_no categoryNo, category_title categoryTitle, update_date updateDate, create_date createDate FROM category;
	</select>
	
	<!-- insertCategory Query : 카테고리 추가 -->
	<insert id="insertCategory" parameterType="com.example.mall.vo.Category">
		INSERT INTO category(category_title) VALUES (#{categoryTitle});
	</insert>
	
	<!-- deleteCategory Query : 카테고리 삭제 -->
	<delete id="deleteCategory" parameterType="Integer">
		DELETE FROM category WHERE category_no = #{categoryNo}
	</delete>
	
	<!-- selectCategoryGoods Query : 카테고리에 상품 존재 유무 조회 -->
	<select id="selectCategoryGoods" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*)
		FROM goods_category
		WHERE category_no = #{categoryNo}
	</select>
	
	<!-- insertGoodsCateogry Query : 상품 추가 시 카테고리 값 같이 추가 -->
	<insert id="insertGoodsCateogry" parameterType="com.example.mall.vo.GoodsCategory">
		INSERT INTO goods_category(goods_no, category_no) VALUES(#{goodsNo}, #{categoryNo})
	</insert>
	
	<!-- updateGoodsCategory Query : 상품 수정 시 카테고리 값 같이 수정 -->
	<update id="updateGoodsCategory" parameterType="com.example.mall.vo.GoodsCategory">
		UPDATE goods_category
		<set>
			<if test="categoryNo != null and categoryNo != ''">category_no = #{categoryNo}</if>
		</set>
		WHERE goods_no = #{goodsNo}
	</update>

</mapper>