<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.GoodsFileMapper">

	<!-- insertGoodsFile Query : addGoods → 사진 파일 추가 -->
	<insert id="insertGoodsFile" parameterType="com.example.mall.vo.GoodsFile">
		INSERT INTO goods_file(goods_no, goods_file_name, goods_file_origin_name, goods_file_ext, goods_file_type, goods_file_size) 
		VALUES(#{goodsNo}, #{goodsFileName}, #{goodsFileOriginName}, #{goodsFileExt}, #{goodsFileType}, #{goodsFileSize})
	</insert>
	
	<!-- getGoodsOne : 사진 리스트 -->
	<select id="selectGoodsFileList" parameterType="Integer" resultType="com.example.mall.vo.GoodsFile">
		SELECT goods_file_no goodsFileNo
			, goods_no goodsNo
			, goods_file_name goodsFileName
			, goods_file_origin_name goodsFileOriginName
			, goods_file_ext goodsFileExt
			, goods_file_type goodsFileType
			, goods_file_size goodsFileSize
			, create_date createDate
		FROM goods_file
		WHERE goods_no = #{goodsNo}
	</select>
	
	<!-- selectGoodsFileOne Query : 파일 삭제할 때 파일 정보 가져오기 -->
	<select id="selectGoodsFileOne" parameterType="Integer" resultType="com.example.mall.vo.GoodsFile">
		SELECT goods_file_no goodsFileNo, goods_no goodsNo, goods_file_name goodsFileName, goods_file_origin_name goodsFileOriginName, 
			   goods_file_ext goodsFileExt, goods_file_type goodsFileType, goods_file_size goodsFileSize, create_date createDate 
		FROM goods_file WHERE goods_file_no = #{goodsFileNo}
	</select>
	
	<!-- deleteGoodsFile Query : 파일 삭제 하기 -->
	<delete id="deleteGoodsFile" parameterType="Integer">
		DELETE FROM goods_file WHERE goods_file_no = #{goodsFileNo}
	</delete>
	
	

</mapper>