<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.GoodsMapper">

	<!-- Author : 김문정 --> 
	<!-- getGoodsOne : 상품 상세보기 -->
	<select id="selectGoodsOne" parameterType="Integer" resultType="com.example.mall.vo.Goods">
		SELECT goods_no goodsNo
			, goods_title goodsTitle
			, goods_memo goodsMemo
			, goods_price goodsPrice
			, goods_status goodsStatus
			, update_date updateDate
			, create_date createDate
		FROM goods
		WHERE goods_no = #{goodsNo}
	</select>
	
	<!-- getGoodsOne : 후기 리스트 -->
	<select id="selectBoardListByGoodsNo" parameterType="Integer" resultType="map">
		SELECT b.orders_no ordersNo
				, b.board_content boardContent
				, b.create_date createDate
				, acpo.orders_no ordersNo
				, acpo.goods_no goodsNo
				, acpo.payment_no paymentNo
				, acpo.customer_email customerEmail
		FROM board b INNER JOIN (SELECT o.orders_no
										, o.goods_no
										, o.payment_no
										, acp.customer_email
									FROM orders o INNER JOIN (SELECT p.payment_no
																	, ac.customer_email
																FROM payment p INNER JOIN (SELECT a.address_no 
																								, c.customer_email 
																							FROM address a INNER JOIN customer c 
																							ON a.customer_email = c.customer_email) ac
																ON p.address_no = ac.address_no) acp
									ON o.payment_no = acp.payment_no) acpo
		ON b.orders_no = acpo.orders_no
		WHERE goods_no = #{goodsNo}
	</select>
	
	<!-- getGoodsOne : 후기 작성 가능한 회원 조회 -->
	<select id="selectEligibleReviewers" parameterType="map" resultType="map">
		SELECT result.orderNo orderNo
			 , result.customer_Email customerEmail
			 , result.orders_no boardOrdersNo
			 , result.goods_no goodsNo
			 , result.payment_no paymentNo  
		FROM (
			    SELECT 
			        o.orders_no AS `orderNo`
					  , c.customer_email
					  , b.orders_no
					  , o.goods_no
					  , p.payment_no
			    FROM orders o
							   INNER JOIN payment p ON p.payment_no = o.payment_no
							   INNER JOIN address a ON a.address_no = p.address_no
							   INNER JOIN customer c ON c.customer_email = a.customer_email
		    				   LEFT OUTER JOIN board b ON b.orders_no = o.orders_no
			    WHERE NOT EXISTS (
							        SELECT 1
							        FROM board b2
							        INNER JOIN orders o2 ON b2.orders_no = o2.orders_no
							        WHERE o2.orders_no = o.orders_no
							    	)
			    UNION ALL
			    SELECT 
			      	  o.orders_no 
					  , c.customer_email
					  , b.orders_no 
					  , o.goods_no
					  , p.payment_no
			    FROM orders o
							   INNER JOIN payment p ON p.payment_no = o.payment_no
							   INNER JOIN address a ON a.address_no = p.address_no
							   INNER JOIN customer c ON c.customer_email = a.customer_email
							   LEFT JOIN board b ON b.orders_no = o.orders_no
			    WHERE EXISTS (
						        SELECT 1
						        FROM board b2
						        INNER JOIN orders o2 ON b2.orders_no = o2.orders_no
						        WHERE o2.orders_no = o.orders_no
							   )
			) result
		<where>
			<if test="loginCustomer != null">	
				result.customer_email = #{loginCustomer}
				AND result.goods_no = #{goodsNo}
			</if>
		</where>
		ORDER BY `orderNo` ASC
	
	</select>
	
	
	

	<!-- home : 메인 페이지 상품 리스트 출력 -->
	<select id="selectGoodsList" parameterType="map" resultType="com.example.mall.vo.Goods">
		SELECT goods_no goodsNo
			, goods_title goodsTitle
			, goods_memo goodsMemo
			, goods_price goodsPrice
			, goods_status goodsStatus
			, update_date updateDate
			, create_date createDate
		FROM goods
		<where>
			<if test="searchWord != null">
				goods_title LIKE CONCAT( '%', #{searchWord} ,'%' )
			</if>
		</where>
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- home : paging을 위한 lastPage -->
	<select id="selectGoodsListLastPage" resultType="Integer">
		SELECT COUNT(*)
		FROM goods
		<where>
			<if test="searchWord != null">
				goods_title LIKE CONCAT( '%', #{searchWord} ,'%' )
			</if>
		</where>
	</select>


</mapper>