<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.PaymentMapper">
	<insert id="insertPayment" parameterType="com.example.mall.vo.Payment">
	    <selectKey keyProperty="paymentNo" keyColumn="payment_no" resultType="Integer" order="AFTER">
     	   SELECT LAST_INSERT_ID()
    	</selectKey>
    	
		INSERT INTO payment(
			address_no, payment_price, payment_method, payment_status
		) VALUES (
			#{addressNo}, #{paymentPrice}, #{paymentMethod}, '결제완료'
		)
	</insert>
	
	<insert id="insertOrders" parameterType="Map">
		INSERT INTO orders(
			goods_no, orders_amount, payment_no
		) VALUES (
			(SELECT goods_no FROM cart WHERE cart_no=#{cartNo})
			, (SELECT cart_amount FROM cart WHERE cart_no=#{cartNo})
			, #{paymentNo}
		)	
	</insert>
	
	<select id="selectPaymentList" parameterType="map" resultType="map">
		SELECT 
		    p.payment_no AS paymentNo
		    , p.payment_status AS paymentStatus
		    , p.payment_price AS paymentPrice
		    , p.payment_method AS paymentMethod
		    , p.create_date AS createDate
		    , IFNULL(a.customer_email, "( 회원탈퇴 고객 )") AS customerEmail
		    , CONCAT(COUNT(o.orders_no), '건') AS orderCnt
		FROM 
		    payment p
		INNER JOIN 
		    address a ON p.address_no = a.address_no
		INNER JOIN 
		    orders o ON p.payment_no = o.payment_no
		<if test="customerEmail != null">
			<where>
				a.customer_email =  #{customerEmail}
			</where>
		</if>
		GROUP BY p.payment_no
		ORDER BY CASE WHEN p.payment_status = '결제완료' THEN 0 ELSE 1 END, p.create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectTotalRowOnPaymentList" parameterType="map" resultType="Integer">
		SELECT COUNT(*)	FROM payment p
		INNER JOIN 
		   (SELECT * FROM address
			<if test="customerEmail != null">
				<where>
					customer_email =  #{customerEmail}
				</where>
			</if>
			) a 
		ON p.address_no = a.address_no
	</select>
	
	<select id="selectOrdersNoByPaymentNo" parameterType="Integer" resultType="String">
		SELECT group_concat(DISTINCT(orders_no)) FROM orders WHERE payment_no = #{paymentNo};
	</select>
	
	<select id="selectPayInfoListByPaymentNo" parameterType="map" resultType="Map">
		SELECT
		   o.payment_no AS paymentNo
		   , o.orders_no AS ordersNo
		   , gc.goods_no AS goodsNo
		   , ct.category_no AS categoryNo
		   , o.orders_amount AS ordersAmount
		   , g.goods_title AS goodsTitle
		   , g.goods_memo AS goodsMemo
		   , g.goods_price AS goodsPrice
		   , g.goods_status AS goodsStatus
		   , ct.category_title AS categoryTitle
		   , IFNULL(temp2.goodsFileName, 'no file') AS goodsFileName
		   , temp2.goodsFileExt AS goodsFileExt
		   , temp2.goodsFileNo AS goodsFileNo
		FROM category ct
		INNER JOIN goods_category gc ON gc.category_no = ct.category_no
		INNER JOIN goods g ON gc.goods_no = g.goods_no
		INNER JOIN orders o ON o.goods_no = g.goods_no
		LEFT OUTER JOIN 
			(SELECT 
				g.goods_no AS goodsNo
				, g.goods_title AS goodsTitle
				, temp1.goodsFileNo AS goodsFileNo
				, temp1.goodsFileName AS goodsFileName
				, temp1.goodsFileOriginName AS goodsFileOriginName
				, temp1.goodsFileType AS goodsFileType
				, temp1.goodsFileSize AS goodsFileSize
				, temp1.createDate AS createDate
				, temp1.updateDate AS updateDate
				, temp1.goodsFileExt AS goodsFileExt
			FROM goods g
			INNER JOIN
				(SELECT 
					goods_file.goods_file_no AS goodsFileNo
					, goods_file.goods_no AS goodsNo
					, goods_file.goods_file_name AS goodsFileName
					, goods_file.goods_file_origin_name AS goodsFileOriginName
					, goods_file.goods_file_type AS goodsFileType
					, goods_file.goods_file_size AS goodsFileSize
					, goods_file.create_date AS createDate
					, goods_file.update_date AS updateDate
					, goods_file.goods_file_ext AS goodsFileExt
				FROM goods_file
				INNER JOIN
					(SELECT 
					    MIN(goods_file_no) AS goods_file_no
					FROM goods_file
					GROUP BY goods_no) temp0
				ON temp0.goods_file_no = goods_file.goods_file_no) temp1
			ON temp1.goodsNo = g.goods_no) temp2
		ON gc.goods_no = temp2.goodsNo
		where o.orders_no = #{ordersNo}
	</select>
	
	<update id="updatePaymentStatus" parameterType="com.example.mall.vo.Payment">
		UPDATE payment SET payment_status = #{paymentStatus}
		WHERE payment_no
		 = (SELECT paymentNo
		 	 FROM (SELECT p.payment_no paymentNo
				   FROM payment p
				   INNER JOIN address a	ON p.address_no = a.address_no
  				   <where>
				   		p.payment_no = #{paymentNo}
					   <if test="customerEmail != null">
						 	 AND a.customer_email = #{customerEmail}
					   </if>
				   </where>
				   ) AS target);
	</update>
	
	
</mapper>
