<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.StaffMapper">

	<!-- selectStaffList Quert : 스태프 리스트 조회 -->
	<select id="selectStaffList" resultType="com.example.mall.vo.Staff">
		SELECT staff_no staffNo, staff_id staffId, first_name firstName, last_name lastName, 
			   update_date updateDate, create_date createDate  
		FROM staff ORDER BY staff_id
	</select>
	
	<!-- insertStaff Query : 스태프 추가 -->
	<insert id="insertStaff" parameterType="com.example.mall.vo.Staff">
	 	INSERT INTO staff(staff_id, staff_pw, first_name, last_name)
	 	VALUES(#{staffId}, #{staffPw}, #{firstName}, #{lastName})
	</insert>

</mapper>